.introduction {
    color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
align-items: center;
margin-top: 10vh;

}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.heading {
    font-size: 8vh;
    font-weight: 800;
    text-align: center;
    width: 58vw;
    margin-bottom: 1vh;
}


.content {
    /* /* font-family: Abhaya Libre Medium; */
    font-weight: 200;
    text-align: center;
    width: 40%;


}