.introduction {
    color: #FFFFFF;
    /* position: relative;
    top: 100px;
    left: 29%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
align-items: center;
margin-top: 10vh;

}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 800;
    line-height: 55px;
    text-align: center;
    width: 50vw;
    /* height: 171px; */
    margin-bottom: 5px;
}


.content {
    font-family: Medium;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 534px;
    /* height: 44px; */
    width: 45%;
    margin-top: 10px;
    margin-bottom: 1vh;


}